<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>EBOOKSTORE - details</title>
</head>
<body>
<div th:insert="~{fragments/nav-bar::nav}"></div>


<div class="container">
    <div class="row">
        <h1 th:text="${status}"></h1>
        <h1 th:text="${error}" ></h1>
        <h2 th:text="${exception}"></h2>

        <table>
            <tr>
                <td>Date</td>
                <td th:text="${timestamp}"/>
            </tr>
            <tr>
                <td>Path</td>
                <td th:text="${path}"/>
            </tr>
            <tr>

            </tr>
        </table>


        </div>
    </div>
</div>
</body>
</html>